# Dependencies and Node-related
node_modules
npm-debug.log
examples/babel/package-lock.json

# Code Coverage
coverage

# Build
dist
lib/*
!lib/awilix.umd.js
!lib/awilix.module.js
!lib/awilix.browser.js
!lib/awilix.d.ts

# IDE
.vscode/
.idea/

# System
.DS_Store
.log
